@page "/"

<PageTitle>TP5: AgendaWeb</PageTitle>

<div class="d-flex align-items-center justify-content-center vh-100">
    <h1 class="display-3 fw-bold"><i class="bi bi-person-vcard me-3"></i>TP5: AgendaWeb</h1>
</div>
