root = true

[*.cs]
csharp_new_line_before_open_brace = none
csharp_new_line_before_else = false
csharp_new_line_before_catch = false
csharp_new_line_before_finally = false

# Local variables: camelCase, sin prefijo underscore
dotnet_naming_symbols.local_variables.applicable_kinds = local
dotnet_naming_symbols.local_variables.applicable_accessibilities = *

dotnet_naming_style.camel_case_no_underscore.capitalization = camel_case

dotnet_naming_rule.local_variables_no_underscore.symbols = local_variables
dotnet_naming_rule.local_variables_no_underscore.style = camel_case_no_underscore
dotnet_naming_rule.local_variables_no_underscore.severity = warning